.providencia-header-blog{
    &_logo{
        width: 170px;
        margin: 30px;
    }
    &_title{
        line-height: .9;
        margin-top: 60px;
        margin-left: 100px;
        font-family: roboto-bold,Arial,Helvetica,sans-serif;
        font-weight: 700;
        font-size: 59px;
        color: #fff;
        @media screen and(max-width: 767px){
            margin-left: 25px;
            font-size: 55px;
        }
    }
}

.providencia-container-blog{
    &_text{
        margin: 50px 25px;
    }
    &_img{
        width: 100%;
        height: auto;
        img{
            width: 100%;
            height: auto;
            padding: 15px 25px;
        }
    }
    &_video{
        height: 700px;
        width: 80%;
        display: inline-flex;
        margin-left: 10%;
        @media screen and(max-width: 767px){
            height: 250px;  
        }
    }
}