.header-causas{
    background-image: url('../images/back-header.png');
    background-position: bottom;
    background-size: cover;
    h1{        
        padding: 5% 0;
        @media screen and (min-width: 768px) {
            padding: 12% 0;
        }
    }
}
.causas-permanentes{
    // ¿Qué son?
    &_what{
        @media screen and (min-width: 768px) {
            .col-md-4:nth-of-type(2){
                :before {
                    content:""; 
                    background: rgba(#325453, 0.3); 
                    position: absolute; 
                    bottom: 10%; 
                    left: 0; 
                    height: 80%; 
                    width: 2.5px;
                }
                :after {
                    content:""; 
                    background: rgba(#325453, 0.3); 
                    position: absolute; 
                    bottom: 10%; 
                    right: 0; 
                    height: 80%; 
                    width: 1.5px;
                }
            }
        }
        big{
            font-size: 20px;
        }
        .text-greenish{
            font-weight: bold;
        }
    }

    &_permanent{
        span.bg-gray{
            @media screen and (max-width: 768px){
                display: block;
            }
        }

        .col-md-3 .bg-gray{
            display: block;
            border-radius: 10px;
            &:hover{
                text-decoration: none;
            }
            .bg-green{
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
                padding: 5%;
                @media screen and (max-width: 768px){
                    height: 65px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
    }
}