.dona{
    // social btns
    .social-btns-container{
        @media screen and (max-width: 767px){
            display: flex;
            justify-content: center; 
        }
    }
    // social btn
    .bg-dona{
        display: block;
        background-color: #7B97AC;
    }
    .social-btn{
        display: inline-block;
        padding: 8px 18px;
        color: $white;
        @media screen and (max-width: 767px){
            margin: 2%;
            width: 50%;
            text-align: center;
            font-size: 15px;
            padding: 13px 0px;
        }
        img{
            width: 15px;
        }
        span{
            margin-left: 5px;
        }
    }

    // metodo de pago
    &_title{
        font-weight: bold;
        padding-bottom: 4px;
        border-bottom: 1.5px solid rgba($green, 0.8);
        @media screen and (min-width: 768px){
            display: inline-block;
        }
    }
    .logo-openpay{
        width: 200px;
        margin: 11px 0 31px;
    }

    &_representante-btn{
        display: block;
        color: $white;
        background-color: #DCDCDC;
        text-align: center;
        padding: 8px 15px;
        width: 220px;
        @media screen and (max-width: 767px){
            margin: auto;
        }
        &.active{
            background-color: #7B97AC;
        }
    }
    
    input[type="radio"]{
        visibility: hidden;
    }

    form{
        padding: 15px;
        sup{
            color: red;
        }
        label{
            display: block;
        }
    }
    
    input{
        width: 100%;
        border: 1.5px solid rgba(#DCDCDC, 0.7);
        margin-bottom: 15px;
        padding: 5px 10px;

        @media screen and (min-width: 768px) {
            width: 50%;
        }
        &.cvv{
            width: 80px;
        }
        &.rfc{
            display: none;
        }
        &.rfc.active{
            display: block;
        }
    }

    //confirmación
    &_confirmacion{
        @media screen and (max-width: 767px){
            text-align: center;
        }
    }
    &_quantity{
        @media screen and (max-width: 767px){
            text-align: center;
        }
    }
    
    //ventajas
    &_ventajas{
        margin: 20px 0;
        border-top: 1.5px solid $green;
        border-bottom: 1.5px solid $green;
        ul li::before {
            content: "•";
            color: $green;
            font-weight: bold;
            display: inline-block; 
            width: 1em;
            margin-left: -1em;
        }
    }

    // recibo
    input[type="checkbox"]{
        -webkit-appearance: radio;
        color: $green;
    }
    label[for="terms"] a{
        color: #83B5DC;
    }

    //btns
    .btns-container{
        text-align: center;
        @media screen and (min-width: 768px){
            text-align: right;
        }
    }
    &_regresar{
        border: 1px solid #DCDCDC;
        padding: 10px 18px;
        text-align: center;
    }
    &_btns{
        width: 170px;
        display: inline-block;
    }
    .btn-green{
        @media screen and (min-width: 768px){
            margin-right: 0!important;
        }
    }
}