.header-educacion{
    background-image: url('../images/back-header.png');
    background-position: bottom;
    background-size: cover;
    h1{
        text-transform: uppercase;
    }
}
.educacion{
    .btn-blue{
        max-width: 200px;
    }
}