.projects{
    .social-btns-container{
        @media screen and (max-width: 767px){
            display: flex;
            justify-content: center; 
        }
    }
    // social btn
    .social-btn{
        display: inline-block;
        padding: 8px 18px;
        color: $white;
        @media screen and (max-width: 767px){
            margin: 2%;
            width: 40%;
            text-align: center;
        }
        img{
            width: 15px;
        }
        span{
            margin-left: 5px;
        }
    }

    // video section
    iframe{
        @media screen and (max-width: 992px){
            width: 310px;
            max-width: 100%;
            height: 150px;
            margin-bottom: 4%;
        }
    }
    .icon-hands{
        width: 30px;
        margin-right: 8px;
    }
    .btn-gray{
        background-color: $white;
        border: .5px solid #dcdcdc;
        cursor: pointer;
        width: 78%;
        padding: 8px;
        margin-bottom: 5px;
        display: inline-block;
        &:hover{
            text-decoration: none;
        }
    }
    .btn-donate-green{
        background-color: #DAF0A8;
        border: .5px solid #E0ECC7;
        cursor: pointer;
        width: 78%;
        padding: 8px;
        margin-bottom: 20px; 
        display: inline-block;
        &:hover{
            text-decoration: none;
        }
    }
    .btn-green{
        font-size: 11px;
        width: 185px!important;
        max-width: 100%;
        margin-bottom: 15px;
        display: inline-block;
        &:hover{
            text-decoration: none;
        }
    }

    //about
    .logo-project{
        width: 25%;
        max-width: initial;
    }  
    
    //timeline
    .timeline{
        padding-left: 60px;

        &_isotipo{
            position: relative;
            width: 35px;
            left: -17px;
        }

        &_btn-mas{
            font-weight: bold;
            border: 1.5px solid rgba(#2c363d, .3);
            color: rgba(#2c363d, .8);
            padding: 10px 18px;
            position: relative;
            left: -43px;
            top: 6px;
            font-size: 15px;   
            background-color: rgba($white, 0.5)     
        }

        $border-color: rgba(#2c363d, .3);

        .timeline-item {
            padding: 3em 2em 1em;
            position: relative;
            color: rgba(black, .7);
            border-left: 1.5px solid $border-color;
            p{
                color: #CBCBCB;
                margin-bottom: 0;
            }
            
            &::before {
                content: attr(date-is);
                position: absolute;
                left: 2em;
                font-weight: bold;
                top: 7px;
                display: block;
                font-weight: 700;
            }

            &::after {
                width: 18px;
                display: block;
                top: 1em;
                position: absolute;
                left: 0px;
                content: "";
                border: 1px solid rgba(#2c363d,.3);
            }

        }
    }
}
.img-proyectos{
    object-fit: cover;
    width: 100%;
    height: auto;
}

//header
.margin-header{
    margin-top: 6em !important;
    background-size: 100% 100% !important;
    background-repeat: no-repeat;
    height: 83vh !important;
    @media screen and (max-width: 768px){
        margin-top: 0em !important;
    }
}

//legales

.margin-boders{
    padding: 0 55px;
}

.align-left{
    text-align: left;
}