.header-thanks{
    background-image: url('../images/thank-you/thankyoumobileheader.png');
    background-position: bottom;
    background-size: cover;
    @media screen and (min-width: 768px){
        background-image: url('../images/thank-you/thankyouheader.png');
    }
    .btn-green{
        max-width: 200px;
    }
}