/* estilos para header */
 .videos-page {
    padding: 8% 0%;
    font-family: "Roboto-Light", Arial, Helvetica, sans-serif;
    align-content: center;
    text-align: center;

}

.videos-border {
    border-right: 1px solid rgba(161, 160, 160, 0.728);
    padding: 0 !important;
}

.video-tabs-nav {
    @media screen and (max-width: 767px){ 
        padding-inline-start: 0% !important;
    }
}

.video-tabs-nav li a {
    text-decoration: none !important;
    display: block;
    font-size: 13px;
    font-weight: 700;
    padding: 14px;
    background: none;
    text-align: right;
    @media screen and (max-width: 767px){
        text-align: center !important;
        font-size: 20px !important;
    }
}

.video-tabs-nav li a:active {
    color: #39A0CD;
}


.yotu-title {
    text-align: left;
    font-weight: 500;
    font-size: 15px;
    color: #795548;
    @media screen and (max-width: 767px){
        margin: 2rem 0px 0px;
    }
   
}
.youtu-player{
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    box-shadow: 2px 2px 3px 0 rgba(10,10,10,.35);
}
.yotu-video-placeholder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none!important;
    padding: 0;
    margin: 0;   
}

.yotu-videos {
    float: left;
    width: 100%;
    padding: 20px 0 0;
    position: relative;
}

.yotu-videos ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    position: relative;
}

.yotu-video-thumb {
    padding: 0;
    margin: 0;
    border: none;
    clear: both;
    display: block;
    max-width: 100%;
    width: 100%;
    max-height: none;
} 
.yotu-videos h3 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: break-word;
    position: relative;
    display: block;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin-bottom: 10px!important;
}


.yotu-videos .yotu-video h3 {
    font-size: 14px;
    font-weight: 500;
    line-height: 1em!important;
    color: #795548;
    text-decoration: none;
    padding: 5px 0;
    margin: 10px 0 0;
    width: 100%;
    display: block;
}

.video-tabs-nav li, .yotu-videos li {
    list-style: none;
   
}

.video-tabs-nav li:hover {
    border-right: 2px solid #68C3E0;
    color: $blue-providencia;
    @media screen and (max-width: 767px){
        border-bottom: 2px solid #68C3E0 !important;
        border-right: 0 !important;
    }
}