.centermodal {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) !important;
    width: 320px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-top: 0px;

}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.btncontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

html, body {
    color: #525252;
}

#topBar {
    height: 10vh;
    background: #1580b4;
    position: absolute;
    top: 0;
    width: 100%;
    box-shadow: 0px 6px 13px 0px #00000047;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mainSearchInput {
    color: #5d5555;
    width: 500px;
    border-radius: 15px;
    height: 60px;
    border: solid 2px #0081b8;
    outline: 0;
    text-align: center;
    font-size: 25px;
}

#mainSearchInput::placeholder {
    color: #958d8d;
    font-size: 20px;
}

.searchResults {
    box-shadow: 0px 6px 13px 0px #00000047;
    margin: 0 auto;
    width: 500px;
    background: #f5f5f5;
    /*height: 100px;*/
}

.addProject {
    width: 75px;
    height: 75px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    color: white;
    background: #2ab640;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 30px;
    box-shadow: 0px 6px 13px 0px #00000047;
    transition: all 100ms;
}

.addProject:hover {
    transform: scale(.95);
    box-shadow: 0 0 0 0;
}

.addProject > p {
    margin-bottom: 0;
}

.iconContainer {
    left: 20px;
    width: 35px;
    height: 35px;
    background: #0081b8;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

}

.iconContainer > img {
    border-radius: 10px;
    width: 100%;
    max-width: 30px;
    padding: 0px;
}

.dis-flex {
    display: flex;
}

.searchResultInstance {
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 1px #969696;
    position: absolute;
    width: 500px;
}

.sr_type {
    border-radius: 0 0 0 6px;
    width: 70px;
    position: absolute;
    background: #0081b8;
    font-size: 10px;
    height: 15px;
    color: white;
    top: 0px;
    right: 0px;
}

.sr_name {
    margin-bottom: -5px;
}

.sr_email {
    margin-bottom: 0;
    font-size: 13px;
}

.sr_row {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 44px;
    cursor: pointer !important;

    transition: all 200ms;
}

.sr_row:hover {
    transform: scale(.99);
}

.sr_loader {
    width: 100%;
    max-width: 50px;
    display: none;
}

.sr_name_don {
    font-size: 13px;
    margin-bottom: 0;
}

@media screen and (max-width: 425px) {
    #mainSearchInput, .searchResults, .searchResultInstance {
        width: 300px;
    }
}

.info-section {
    position: absolute;
    width: 100%;
    min-height: 100vh;
    background: #f5f5f5;
    top: 0;
    left: -100%;
    transition: all 200ms;
}
.info-close {
    position: absolute;
    z-index: 9999;
    right: 15px;
    top: 15px;
    background: #1580b4;
    height: 70px;
    width: 70px;
    border-radius: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    box-shadow: 0px 6px 13px 0px #00000047;
    transition: all 80ms;
}

.info-close:hover, .info-close:active, .info-close:focus {
    outline: none;
    box-shadow: 0 0 0 0;
    transform: scale(.96);

}

.info-close > img {
    border-radius: 10px;
    width: 50px;
}

.info-main-img {
    width: 100%;
    height: 400px;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    transition: all 200ms;
    cursor: pointer;
}

.info-main-img:hover {
    transform: scale(1.015);
    cursor: pointer;

}

.loaderCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.sr_loader_info, .sr_loader_donation {
    width: 100%;
    max-width: 50px;
    display: none;
}

#projectInfoWrapper, #donationInfoWrapper {
    display: none;
}

#projectContainer, #donationContainer {
    padding: 0;
}

#projectName {
    font-size: 30px;
}

#projectImgFile {
    display: none;
}

.projectNameRow {
    background: #1580b4;
    color: white;
    margin-bottom: 10px;
}

.projectNameRow > p {
    margin-bottom: 0px;
}

/*border: solid 2px #0081b8;*/
/*border-radius: 10px;*/

.pulse_live {
    color: white;
    text-align: center;
    display: block;
    width: 60px;
    height: 25px;
    border-radius: 6px;
    background: #409519;
    box-shadow: 0 0 0 rgb(0, 204, 19);
    margin: 4px 0px 0px 10px;
    animation: pulse 2s infinite;
}

.pulse_off {
    margin: 4px 0px 0px 10px;
    color: white;
    text-align: center;
    display: block;
    width: 60px;
    height: 25px;
    border-radius: 6px;
    background: #ff3939;
    box-shadow: 0 0 0 rgba(230, 4, 0, 0.4);
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
}

@keyframes pulse {
    0% {
        -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
        box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
    }
    70% {
        -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
        box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    }
    100% {
        -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
        box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
}

.projectControls {
    box-shadow: 0px -6px 20px #00000033;
    display: flex;
    position: fixed;
    z-index: 9999999;
    background: #d8d8d8f2;
    width: 100%;
    bottom: 0;
    text-align: center;
    height: 50px;

}

.projectControls > div {
    margin: 6px auto;
    display: flex;
}

.notifText {
    text-align: center;
}

.projectBox {
    border: solid 3px #0081b8;
    border-radius: 12px;
}

.projectBox_title {
    background: #0081b8;
    color: white;
    font-size: 20px;
}

.padding-10 {
    padding: 10px;
}

#projectDonations, #projectAmount, #donationStatus, #donationDonor, #donationProject {
    font-weight: bold;
    font-size: 25px;
}

.marb-20 {
    margin-bottom: 20px;
}

.marb-150 {
    margin-bottom: 150px;
}

.donationId {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    left: 0;
    position: absolute;
    top: 0;
    background: #0080bd;
    min-width: 360px;
    color: white;
    border-radius: 0px 0px 15px 0px;
}

#receiptFrame {
    width: 100%;
    min-height: 400px;
}

#receiptFrame {
    border: solid 2px #0081b8;
    border-radius: 10px;
    box-shadow: 0px 6px 20px #ababab;
}

.receiptFrame_div {
    text-align: left;
    font-size: 30px;
}

#projectImg {
    width: 100%;
    height: 350px;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
}

#donationInfoWrapper {
    margin-top: 100px;
}
