$green: #95d600;
$dark-green: #8ac601;
$gray: #f8f9f9;
$dark-gray: #2c363d;;
$white: #ffffff;
$blue: #7b97ab;
$blue-providencia: #1580B4;
$text-gray: #728699;
$blue-btn-donar-unico: #68C3E0; 

/*Buttons*/
$pressed: #8ac601;
$no-active: #9da5aa;