@font-face {
    font-family: 'Roboto-Bold';
    src: url("../fonts/Roboto-Bold.otf") format("opentype");
    src: url('../fonts/Roboto-Bold.eot') format('embedded-opentype');
    src: url('../fonts/Roboto-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto-Light';
    src: url("../fonts/Roboto-Light.otf") format("opentype");
    src: url('../fonts/Roboto-Light.eot') format('embedded-opentype');
    src: url('../fonts/Roboto-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Roboto-Medium';
    src: url("../fonts/Roboto-Medium.otf") format("opentype");
    src: url('../fonts/Roboto-Medium.eot') format('embedded-opentype');
    src: url('../fonts/Roboto-Medium.ttf') format('truetype');
}
body{
    font-family: 'Roboto-Light', Arial, Helvetica, sans-serif;
    color: $dark-gray;
    font-size: 18px;
    overflow: hidden auto;
}
b, .bold{
    font-family: 'Roboto-Bold', Arial, Helvetica, sans-serif;
}
.title{
    color: #4a5b66;
}
.text-white{
    color: $white;
}
.text-blue{
    color: $blue-providencia;
}
.text-greenish{
    color: #325453;
}
.text-green{
    color: $green;
}
h2{
    @media screen and (max-width: 767px){
        font-size: 20px;
    }
}
