.footer{
    h4{
        font-size: 21px;
        color: $dark-gray;
        line-height: 32px;
        margin-bottom: 15px;
        font-weight: bold;
    }
    ul{
        list-style: none;
        padding-left: 0;
    }
    li a{
        color: $dark-gray;
        font-size: 15px;
        &:hover{
            color: $green;
        }
    }
    .isotipo{
        margin-bottom: 30px;
        width: 90%;
        max-width: 177px;
    }
    .social-link{
        margin-right: 15px;
        &:last-of-type{
            margin-right: 0;
        }
        &:hover{
            color: $green;
        }
    }
    .bg-gray{
        padding-bottom: 18px;
    }
}

/*PROVIDENCIA FUNDACIÓN*/
.footer-providencia{
    color: #7A868C;
    margin-top: 140px;
    margin-bottom: 20px;
    h4{
        color: #7A868C;
        font-size: 20px;
        margin-bottom: 8px;
    }
    li a{
        color: #7A868C;
    }
    .text-right{
        @media screen and (max-width: 767px){
            text-align: center!important;
            margin-bottom: 20px;
        }
    }
    .footer-providencia_logo{
        margin-bottom: 30px;
        width: 90%;
        max-width: 177px;
    }
    .social-link_img{
        width: 25px;
    }
}