.loader{
    background-color: #FAFAFA;
    height: 100vh;
    width: 100vw;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    img{
        width: 40%;
        max-width: 170px;
    }
}
/*UTILITIES*/
a{
    color: inherit;
}
button{
    cursor: pointer;
}
.mx-auto{
    display: block;
}
.hidden-xs{
    @media screen and (max-width: 767px){
        display: none!important;
    }
}
.visible-xs{
    display: none!important;
    @media screen and (max-width: 767px){
        display: block!important;
    }
}
.decoration-none{
    &:hover{
        text-decoration: none;
    }
}

/*BACKGROUNDS*/
.bg-green{
    background-color: $green;
}
.bg-gray{
    background-color: $gray;
}
.bg-white{
    background-color: $white;
}
.bg-transparent{
    background-color: transparent;
}
.bg-facebook{
    background-color: #4261B0;
}
.bg-twitter{
    background-color: #55acee!important;
}

.bg-blue{
    background-color: $blue-providencia;
}

/*General*/
.hvr-grow {
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
a:focus, button:focus{
    outline: none;
}
.border-gray{
    border: .5px solid #dcdcdc;
}
.navbar-dark .navbar-toggler{
    border: none;
}
.isotipo-white{
    max-width: 75px;
}
.btn-green{
    background-color: $green;
    color: $white;
    padding: 10px 18px;
    text-align: center;
    &:hover{
        color: $white;
    }
}
.btn-blue{
    background-color: $blue;
    color: $white;
    padding: 10px 18px;
    text-align: center;
    &:hover{
        color: $white;
        background-color: #708a9d;
    }
}
.line-green{
    border-color: $green;
    background-color: $green;
}
.btn-whatsapp{
    background-color: #f3f6f8;
    height: 80px;
    width: 100%;
    border-radius: 10px;
    color: #707070;
    text-align: center;
    text-decoration: none;
    font-size: 16px;    
    margin-bottom: 50px;
    margin-top: 30px;
    &:hover {
        background-color: #4CAF50;
        color: white;
        box-shadow: 0 10px 12px 0 rgba(0,0,0,0.10), 0 17px 50px 0 rgba(0,0,0,0.19);
    }
    span{
        font-family: Roboto-Bold;
    }
    img{
        width: 35px;
        margin-left: 10px;
    }
}

video{
    width: 100%;
}

//Projects box
.project-box{
    margin-top: 45px;
    .bg-white{
        padding: 15px;
    }

    &_description{
        height: 105px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;   
    }

    .text-greenish{        
        @media screen and (max-width: 991px){
            text-align: center;
        }
    }

    .d-flex{
        justify-content: center;
        @media screen and (min-width: 992px){
            justify-content: flex-end;
        }
    }
}

//Donate
.donate-body{
    font-family: Roboto-Medium;
    hr{
        width: 330px;
        max-width: 100%;
    }

    .input-group{
        width: 80%;
        max-width: 180px;
        margin: auto;
        .row{
            height: 20px;
        }
    }
    .input-number{
        height: 40px;
        font-weight: bold;
        background-image: url('../images/icon-money.svg'), url('../images/mxn.png');
        background-repeat: no-repeat;
        background-size: auto 45%,auto 25%;
        background-position: 3% center,95% 65%;
        padding-left: 25px;
        padding-right: 42px;
        color: #000;
        display: block;
        margin: auto;
    }
    .btn-number{
        height: 20px;
        width: 20px;
        line-height: 1;
        position: relative;
        background-color: $gray;
        &:hover{
            background-color: $green;
            color: white;
        }
        &_plus{
            border-top: .5px solid #dcdcdc;
            border-right: .5px solid #dcdcdc;
        }
        &_minus{
            position: relative;
            top: 20px;
            left: -20px;
            border-top: .5px solid #dcdcdc;
            border-right: .5px solid #dcdcdc;
            border-bottom: .5px solid #dcdcdc;
        }
    }
    .btn-donate{
        background-color: #9CA6A8;
        color: $white;
        padding: 10px 18px;
        margin-top: 5%!important;
        &:hover{
            background-color: $green;
        }
    }
}

//Payments
.payments{
    &_img{
        height: 54px;
        background-color: #e8eef2;
        background-size: auto 100%;
        background-repeat: no-repeat;
        background-position: center;
    }
    .col-md-4 .payments_img{
        background-image: url('../images/multipagos.png');
        border-top-left-radius: 7px;
        border-bottom-left-radius: 7px;
    }
    .col-md-8 .payments_img{
        background-image: url('../images/metodos-pagos.png');
        border-top-right-radius: 7px;
        border-bottom-right-radius: 7px;
        @media screen and (max-width: 768px){
            background-size: 100% auto;
        }
    }
}

.payment-providencia{
    .payment_line{
        width: 200px;
        border-color: black;
        border-width: 1px;
        margin-bottom: 70px;
    }
    .payment_title{
        font-family: 'Roboto-Bold', Arial, Helvetica, sans-serif;
    }
    .payment_paypal{
        width: 152px;
        margin-bottom: 5px;
    }
    .payment_whats{
        background-color: #2ab640;
        padding: 3px;
        width: 250px;
        border-radius: 30px;
        display: block;
        margin: auto;
    }
    .payment_whats-btn{
        width: 45px;
    }
}

//headers
.providencia-header{
    margin: 7rem 0 0 0;
    height: 80vh;
    max-height: 600px;
    background-size: cover;
    background-position: center;
    @media screen and (max-width: 768px) { 
        margin: 0 !important;
    }
    
    &--area-educacion{
        background-image: url('../images/header-educacion.jpg');
    }
    &--area-salud{
        background-image: url('../images/header-salud.jpg');
    }
    &--area-comunidad{
        background-image: url('../images/header-comunidad.jpg');
    }
    &--area-desarrollo{
        background-image: url('../images/header-desarrollo.jpg');
    }
    &--crowfunding{
        background-image: url('../images/header-crowfunding.jpeg');
    }
    &--que-hacemos{
        background-image: url('../images/header-que.jpg');
    }
    &--donar{
        background-image: url('../images/header-donar.jpg');
    }
    &--subir{
        background-image: url('../images/header-subir.jpg');
    }
    &--faq{
        background-image: url('../images/header-faq.jpg');
    }
    &--soy{
        background-image: url('../images/header-soy.jpg');
    }
}

// providencia titles
.providencia-title{
    font-family: 'Roboto-Bold', 'Roboto-Medium', Arial, Helvetica, sans-serif;
    font-size: 33px;
    color: $blue-providencia;
    @media screen and (min-width: 768px) {
        font-size: 50px;
    }
}
.providencia-subtitle{
    font-weight: bold;
    margin: 20px 0;
}
.providencia-text{
    color: $text-gray;
}