.navbar-dark .navbar-toggler-icon{
    background-image: url('../images/hamburger.svg');
}

/* Contact navigation*/
.main-navigation-top{
    @media screen and (max-width: 930px){
        display: none!important;
    }

    ul{
        display: inline-block;
        overflow: hidden;
        padding: 0;
    }
    li{
        display: inline-block;
        font-size: 14px;
        color: $white;
        padding: 5px 18px 5px 8px;
        padding: 20px 0;
        font-weight: bold;
    }
    i{
        margin-right: 4px;
        margin-left: 10px;
        font-size: 11px;
        position: relative;
        top: -2px;
    }
    .btn-video{
        background: $green;
        padding: 5px 18px 5px;
        color: $white;
        border-radius: 2px;
    }
}

/*Main Navigation*/
.navbar-dark .navbar-brand {
    padding-bottom: 30px;
    @media screen and (max-width: 767px){
        display: block;
        margin: auto;
        padding-top: 17px;
    }
    img{
        @media screen and (max-width: 767px){
            width: 150px;
            padding-top: 16px;
        }
    }
}
.main-navigation{
    @media screen and (max-width: 767px){
        text-align: center;
        /* padding-bottom: 5%; */
        border-bottom: 1px solid white;
    }
    .nav-link {

        color: #1580B4 !important;
        font-size: 15px !important;
        text-shadow: 1px 1px 1px rgba(gray, 0.4) !important;
        @media screen and (max-width: 768px){
            color: #ffffff !important;
        }
        &.active{
            color: $green!important;
        }
        // &--black{
        //     @media screen and (min-width: 768px){
        //         color: black!important;
        //         text-shadow: none;
        //     }
        // }
    }
    .dropdown-menu{
        background-color: #303030;
        border: none;
        box-shadow: 2px 2px 2px 0 rgba(0,0,0,.03);
        -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,.03);
        @media screen and (max-width: 767px){
            background: transparent;
            box-shadow: none;
        }

        a{
            color: $white;
            padding: 10px 20px;
            @media screen and (max-width: 767px){
                background: transparent;
                box-shadow: none;
                text-align: center;
                line-height: 1;
                padding: 10px;
            }

            &:hover{
                background-color: #303030;
                color: #0056b3 !important;
            }
        }
    }
}

.main-menu{
    margin-left: 20%;
    @media screen and (max-width: 767px){
        margin-left: 0;
    }
}

/*Project Navigation*/
.project-navigation{
    background-image: url('../../images/back-header.png');
    background-position: top;
    background-size: cover;
    @media screen and (max-width: 767px){
        background: white;
        border-bottom: 1px solid #2c363d;
    }

    .navbar-dark .navbar-toggler-icon{
        background-image: url('../../images/icon-menu.svg');
    }
    .navbar-dark .navbar-nav .nav-link{
        @media screen and (max-width: 767px){
            color: #2c363d;
        }
    }
}

.border-white{
    border-bottom: 1px solid #ffffff;
    padding: 0;
    @media screen and (max-width: 767px){
        border: none;
    }
}
.menu-projects{
    margin-left: 30%;
    font-size: 15px;
    @media screen and (max-width: 767px){
        margin-left: 0px;
        text-align:center;
        .text-menu-collapse{
            color: gray;
        }
    }
}
.menu-projects-languages{
    margin-left: 30%;
    @media screen and (max-width: 767px){
        margin-left: 0px;
        text-align:center;
    }
}


/*PROVIDENCIA FUNDACIÓN*/

.providencia-navigation.main-navigation{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 18vh;
    z-index: 2;
    background: #ffffff;
    // @media screen and (max-height: 700px) {
    //     height: 19vh !important;
    // }
    @media screen and (min-width: 1600px){
        height: 17vh !important;
    }
    @media screen and (max-width: 767px){
        background: transparent !important;
        border-bottom: none;
        .navbar-toggler{
            position: absolute;
            right: 10px;
            top: 10px;
        }
    }
    &.mobile{
        background: $blue-providencia !important;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        .navbar{
            height: 100vh;
            display: flex;
            align-items: center;
        }
        .navbar-dark .navbar-toggler-icon {
            background-image: url('../images/close.svg');
            background-size: 80% auto;
            background-position: center;
        }
    }
    .navbar-brand{
        @media screen and (max-width: 767px){
            padding: 0;
        }
    }
    .navbar-brand_img{
        width: 140px;
        margin-top: 30px;

        @media screen and (max-width: 767px){
            width: 100px;
            margin-top: 30px;
            margin-top: 0;
            padding: 0;
        }
    }
}


.btn-nav {
    display: inline-block !important;
    color: #ffffff !important;
    background-color: #0071B0 !important;
    padding: 10px !important;
    border-radius: 10px !important;
    padding: 8px 20px !important;
    border-radius: 23px !important;
    margin: 0 !important;

    &:hover {
        text-decoration: none !important;
    }
}

.nav-logo {
    width: 140px;
    margin-top: 30px;
}
