// AREAS DESCRIPTION
.area-description{
    padding: 50px 0 100px;
    .area-description_line{
        width: 60px;
        border-width: 5px;
        border-color: $blue-providencia;
    }
    .area-description_title{
        color: $blue-providencia;    
        margin: 42px 0 15px;
    }
    .area-description_subtitle{
        color: $blue-providencia;
        font-size: 30px;
        margin-bottom: 50px;
    }
    .area-description_icon{
        width: 200px;
        display: inline-block;
    }
    .area-description_text{
        max-width: 800px;
        color: $dark-gray;
    }
}

// AREAS GRID
.area-grid{
    padding: 100px 0 30px;
    background-color: $blue-providencia;
    margin-bottom: 80px;
    .area-grid_item{
        padding: 0 15px 40px;
        @media screen and (max-width: 767px) {
            padding: 0 0 30px;
        }
    }
    .area-grid_text{
        padding: 15px 0;
        font-size: 16px;
        line-height: 1.4;   
        @media screen and (max-width: 767px) {
            font-size: 12px;
        }
    }
}