.providencia-donar{
    .providencia-donar_number{
        font-family: 'Roboto-Bold', 'Roboto-Medium', Arial, Helvetica, sans-serif;
        font-size: 60px;
        margin-bottom: 10px;
        color: $blue-providencia;
    }
    .providencia-donar_step-text{
        max-width: 240px;
    }
}