.btn-covid {
    background: #12ACDE !important;
    color: white;
    &:hover {
        color: white;
        background: #12ACDE;
    }
    @media screen and (max-width: 767px) {
        margin-bottom: 20px !important;
    }
}
.providencia-home{
    a{
        &:hover{
            color: inherit;
            text-decoration: none;
        }
    }

    .gray{
        color: #7A868C;
    }

    //HEADER SLIDER
    .header-fade{
        max-width: 1600px;
        margin: auto;
    }
    .btn-nav{
        display: inline-block;
        background-color: #0071B0;
        color: #ffffff !important;
        padding: 10px;
        border-radius: 10px;
        padding: 14px 26px;
        border-radius: 23px;
        margin: 0;
        &:hover{
            text-decoration: none;
        }
    }
    .header-slider_btn{
        display: inline-block;
        background-color: #0071B0;
        padding: 10px;
        border-radius: 10px;
        padding: 14px 26px;
        border-radius: 23px;
        margin-right: 30px;
        &:hover{
            text-decoration: none;
        }
    }
    .header-blog{
        background-image: url('../images/img4.jpg');
    }
    .header-slider{
        background-size: cover;
        background-position: center;
        padding-top: 18vh;
        padding-bottom: 90px;
        @media screen and (min-width: 1400px){
          padding-top: 25vh;
        }
        @media screen and (max-width: 767px) {
            background-color: black;
            height: inherit;
            padding: 30px 0 35px;
            .header-slider_btn{
                display: block;
                margin: auto;
                width: fit-content;
            }
        }
        &_1{
            background-image: url('../images/header2.jpg');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: bottom;
            & .header-slider_text {
                display: none;
            }
            @media screen and (max-width: 767px) {
                background-image: url('../images/header2-mobile.jpg');
                background-color: #FF9934;
                background-position: center !important;
            }
        }
        &_2{
            background-image: url('../images/img1.jpg');
        }
        &_3{
            background-image: url('../images/img4.jpg');
        }
        .header-slider_text{
            color: #fff;
            font-family: "Roboto-Light", Arial, Helvetica, sans-serif;
            width: 320px;
            margin-left: 30px;
            display: block;

            @media screen and (max-width: 767px) {
                margin: auto;
                padding: 1% 2% 0;
                width: 90%;
                max-width: 300px;
            }
        }
    }

    //PARTICIPATE
    .participate{
        padding: 100px 5% 60px;
        .participate_title{
            font-family: 'Roboto-Bold', Arial, Helvetica, sans-serif;
            font-size: 33px;
            @media screen and (min-width: 768px) {
                font-size: 50px;
            }
        }
        .participate_img{
            display: block;
            margin: auto;
            width: 165px;
            max-width: 100%;
            margin-top: 30px;
        }
        .participate_btn{
            padding: 8px 14px;
            border: 2px solid $blue-providencia;
            border-radius: 24px;
            display: inline-block;
            font-size: 14px;
            font-weight: bold;
            &:hover{
                color: $blue-providencia;
                text-decoration: none;
            }
        }
    }

    //PROJECTS
    .projects{
        .container-fluid{
            max-width: 1600px;
        }
        .projects_container{
            padding: 60px 15px 40px;
            @media screen and (min-width: 768px) {
                padding-left: 8%;
                padding-right: 8%;
                height: 80% !important;
            }
        }
        .projects_title{
            height: 70px;
        }
        .projects_subtitle{
            min-height: 55px;
            //margin-bottom: 25px;
            @media screen and (max-width: 767px) {
                font-size: 16px;
                margin-top: 20px;
            }
        }
        .projects_description{
            display: block;
            display: -webkit-box;
            height: 80px;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            @media screen and (max-width: 767px) {
                font-size: 13px;
            }
        }
        .proyects_link{
            @media screen and (max-width: 767px) {
                font-size: 13px;
            }
        }
        .projects_img{
            width: 100%;
        }
        .projects_btn{
            background-color: $white;
            padding: 15px 40px;
            border-radius: 33px;
            font-size: 25px;
            display: block;
            margin: auto;
            //width: 115px;
            text-align: center;
            //width: fit-content;
            width: min-content;
            font-weight: bold;
            position: relative;
            top: -20px;
            &:hover{
                color: $blue-providencia;
            }
            @media screen and (max-width: 767px) {
                font-size: 16px;
                padding: 10px 30px;
            }
        }
        .projects-objetivos{
            padding: 35px 10px 40px;
            max-width: 420px;
            .projects-objetivos_elem{
                width: 12.9%;
                margin-top: 5px;
            }
        }
    }

    //AREAS
    .areas{
        padding: 120px 0;
        .areas_title{
            font-family: 'Roboto-Bold', Arial, Helvetica, sans-serif;
            font-size: 33px;
            color: #0071B0;
            margin-bottom: 40px;
            text-transform: uppercase;
            @media screen and (min-width: 768px) {
                font-size: 55px;
            }
        }
        .areas_subtitle {
            font-family: 'Roboto-Bold', Arial, Helvetica, sans-serif;
            font-size: 19px;
            color: #728699;
            margin-bottom: 60px;
            @media screen and (min-width: 768px) {
                font-size: 27px;
            }
        }
        .areas_img{
            width: 90%;
        }
    }

    //NEWS
    .news{
        .container-fluid{
            max-width: 1600px;
        }
        .news_new{
            color: #ffffff;
            height: 400px;
            background-size: cover;
            background-position: center;
            transition: 0.3s;
            font-family: "Roboto-Bold", Arial, Helvetica, sans-serif;
            font-size: 28px;
            padding: 20px;
            text-align: center;
            @media screen and (max-width: 768px) {
                background-size: cover;
                background-repeat: no-repeat;
                height: 250px;
            }

            &--1{
               // background-image: url('../images/noticia1-2.jpg');
            }
            &--2{
               // background-image: url('../images/noticia2-2.jpg');
            }
            &:hover{
                /* background-size: auto 300%; */
                transform: scale(1.2);
                @media screen and (min-width: 1200px) {
                    /* background-size: 210% auto; */
                    transform: scale(1.2);
                }
            }
        }
        .news_title{
            font-family: 'Roboto-Bold', Arial, Helvetica, sans-serif;
            color: #ffffff;
        }
        .news_btn{
            font-family: 'Roboto-Bold', Arial, Helvetica, sans-serif;
            color: #ffffff;
        }
    }

    //NEWSLETTER
    .register{
        .container-fluid{
            max-width: 1600px;
        }
        .register_row{
            margin: 100px 0;
        }
        .register_title{
            font-family: 'Roboto-Bold', Arial, Helvetica, sans-serif;
        }
        .register_subtitle{
            font-family: 'Roboto-Bold', Arial, Helvetica, sans-serif;
        }
        .register_input{
            border: 2px solid $blue-providencia;
            padding: 10px 15px;
            border-radius: 30px;
            &:focus{
                outline: none;
            }
        }
        .register_label{
            font-weight: bold;
            margin: 15px 0;
        }
        .register_submit{
            border: 2px solid $blue-providencia;
            background-color: $blue-providencia;
            color: $white;
            padding: 10px;
            border-radius: 30px;
            width: 200px;
            font-size: 25px;
            margin-top: 30px;
            margin-bottom: 100px;
            display: block;
            &:focus{
                outline: none;
            }
        }
    }
}

//blog
.header_line{
    width: 200px;
    border-color: black;
    border-width: 1px;
    margin-bottom: 40px;
}
.note_line{
    width: 200px;
    border-color: black;
    border-width: 1px;
    margin-bottom: 50px;
}
#blog-content{
    margin-top: 25px;
    margin-bottom: 50px;
}
.background-img{
    font-family: "Roboto-Bold", Arial, Helvetica, sans-serif;
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
    margin: 25px 20px 15px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-size: 100% 100%;
    padding: 10px 25px;
}
.providencia-header_title{
    margin: 25px 0;
    padding: 25px 15px;
    display: flex;
}
.providencia-header_title--big{
    font-size: 45px;
}

.providencia-header_title--small{
    font-size: 18px;
    padding: 20px 30px 25px;
    margin: 0 25px 25px;
}
.blogs_title {
    font-size: 50px !important;
    color: #0071B0;
    font-family: "Roboto-Bold", Arial, Helvetica, sans-serif !important;
    margin: 4rem 0rem !important;
}

.banderas-esp-engli{
    padding-left: 5px;
    padding-right: 8px;
}
