.faq{
    .faq_column{
        @media screen and (min-width: 768px) {
            padding: 0 50px;
        }
    }
    .card{
        text-align: center;
        font-size: 16px;
        border: none;
        border-radius: 0;
        border-left: 1px solid rgba($text-gray, 0.5);
        &.blueBorder{
            border-left: 2px solid $blue-providencia;
        }
        .card-link{
            &.blue{
                color: $blue-providencia;
                .card_icon{
                    &::before{
                        content: '\002d';
                    }
                }
            }
        }
        .card-header{
            background-color: $white;
            border: none;
        }
        .card_title{
            display: inline-block;
            width: 80%;
        }
        .card_number{
            float: left;
            font-weight: bold;
        }
        .card_icon{
            float: right;
            &::before{
                content: '\002b';
            }
        }
        .card-body{
            padding: 16px 50px;
            @media screen and (max-width: 767px) {
                padding: 16px 25px 20px;
                font-size: 12px;
            }
        }
    }
}