.providencia-project{

    .btn-view-more {
        background: transparent;
        color: #1684B5;
        font-size: 24px;
    }

    .container-raised {
        position: relative;
        padding-top: 8px;
        padding-bottom: 8px;
        overflow: hidden;
        height: 48px;
        .container-raised-normal {
            position: relative;
            background: transparent;
            color: black;
        }
        .container-raised-percentage {
            position: relative;
            top: 0;
            left: 0;
            z-index: 1;
            color: white;
            width: 100%;
            background: #53b43a;
            margin-left: 0;
            padding: 8px 0;
            border: 1px solid #53b43a;
            overflow: hidden;
            .col-6 {
                padding-left: 0;
                padding-right: 0;
            }
            h6 {
                padding-left: 15px;
                padding-right: 15px;
                margin-bottom: 0;
                line-height: 19px;
                background-size: 100%;
                background-color: white;
                font-weight: bold;
                background-repeat: repeat;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                -moz-background-clip: text;
                -moz-text-fill-color: transparent;
            }
        }
    }

    .gray{
        color: #7A868C;
    }
    .bg-blue{
        background-color: $blue-providencia;
    }
    .container-fluid{
        max-width: 1600px;
    }
    a:hover{
        text-decoration: none;
    }
    .btn-donate-now {
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        font-weight: bold;
        font-size: 24px;
        &.btn-red {
            background: red;
            color: white;
        }
        @media screen and (max-width: 1024px) {
            font-size: 20px !important;
        }
        @media screen and (max-width: 767px) {
            font-size: 16px !important;
        }
    }
    .providencia-header-donate {
        padding: 30px;
        max-width: 1600px;
        margin: auto;
        @media screen and (max-width: 767px) {
            padding: 5px;
        }

        .providencia-header {
            padding: 0;
            max-width: 100%;
            .providencia-header_title {
                margin-top: 60px;
                margin-left: 50px;
                font-size: 39px;
                @media screen and (max-width: 767px) {
                    margin: 0 !important;
                    padding: 10px !important;
                    text-align: center !important;
                    line-height: 1;
                        font-size: 17px !important;
                }
            }
            .providencia-header_btn{
                margin: 40px 0 100px 80px;
                padding: 13px 43px;
                border-radius: 30px;
                width: 146px;
                text-align: center;
                color: $blue-providencia;
                background-color: white;
                font-weight: bold;
                @media screen and (max-width: 767px) {
                    margin: 40px auto 40px;
                }
            }
        }

        .fa-heart-o {
            color: #1684B5;
        }

        .goal-text {
            font-size: 18px;
            color: #666;
            font-weight: bold;
            @media screen and (max-width: 767px) {
                & .col-6 {
                    font-size: 14px;
                }
            }
        }

        .providencia-project-description {
            margin-top: 15vh;
            @media screen and (min-width: 1600px){
                margin-top: 14vh !important;
            }
            @media screen and (max-width: 767px){
                margin-top: 1vh !important;
            }

            h1 {
                color: #0278A5;
                text-align: center;
                font-size: 30px;
                font-weight: bold;
                text-transform: uppercase;
            }

            h2 {
                text-align: center;
                font-size: 24px;
                font-weight: bold;
                text-transform: uppercase;
                display: block;
            }
        }
    }
    // HEADER
    .providencia-header{
        padding: 30px;
        background-size: cover;
        background-position: center;
        max-width: 1600px;
        margin: auto;
        @media screen and (max-width: 767px) {
            padding: 30px 5px;
        }
        .providencia-header_logo{
            width: 170px;
            @media screen and (max-width: 767px) {
                width: 130px;
            }
        }
        .providencia-header_title{
            line-height: 0.9;
            margin-top: 60px;
            margin-left: 100px;
            font-family: 'Roboto-Bold', Arial, Helvetica, sans-serif;
            font-weight: bold;
            font-size: 59px;
            @media screen and (max-width: 767px) {
                margin: 0px !important;
                padding: 10px !important;
                text-align: center !important;
                margin-left: 0 !important;
                line-height: 1;
                font-size: 35px !important;
            }
          /*   &--big{
                font-family: 'Roboto-Bold', Arial, Helvetica, sans-serif;
                font-size: 59px;
                font-weight: bold;
            }
            &--small{
                font-size: 22.3px;
                font-weight: bold;
            }
            &--medium{
                font-size: 26.4px;
                font-weight: bold;
            } */
        }
        .providencia-header_btn{
            font-family: 'Roboto-Bold', Arial, Helvetica, sans-serif;
            display: block;
            margin: 40px 0 100px 160px;
            padding: 13px 43px;
            border-radius: 30px;
            width: 146px;
            text-align: center;
            color: $blue-providencia;
            background-color: white;
            font-weight: bold;
            @media screen and (max-width: 767px) {
                margin: 40px auto 80px;
            }
        }
    }

    //INTRO
    .providencia-intro{
        padding: 100px 0;
        .providencia-intro_logo{
            width: 180px;
        }
        .providencia-intro_title{
            font-family: 'Roboto-Bold', Arial, Helvetica, sans-serif;
            font-size: 45px;
            margin-top: 20px;
        }
        .providencia-intro_subtitle{
            font-size: 21px;
            font-weight: bold;
        }
    }

    //VIDEO
    .providencia-video{
        overflow: hidden;
        .providencia-video_iframe{
            display: block;
            margin: auto;
            width: 425px;
            height: 235px;
            width: calc(100%)!important;
            @media screen and (min-width: 768px) and (max-width: 991px){
                width: 992px;
                height: 560px;
            }
            @media screen and (min-width: 992px) and (max-width: 1199px){
                width: 1200px;
                height: 660px;
            }
            @media screen and (min-width: 1200px) and (max-width: 1399px){
                width: 1400px;
                height: 780px;
            }
            @media screen and (min-width: 1400px){
                width: 1600px;
                height: 880px;
            }
        }
    }

    //MISION
    .providencia-vision{
        padding: 80px 0;
        .providencia-vision_line{
            border-color: $white;
            width: 200px;
        }
        .providencia-vision_title{
            font-family: 'Roboto-Bold', Arial, Helvetica, sans-serif;
            margin: 80px 0 30px;
        }
        .providencia-vision_text{
            max-width: 780px;
        }
        .providencia-vision_details{
            margin: 80px 0 20px;
        }
        .providencia-vision_btn{
            display: inline-block;
            font-family: 'Roboto-Bold', Arial, Helvetica, sans-serif;
            margin-top: 30px;
            padding: 10px 30px;
            background-color: $white;
            border-radius: 30px;
            &:hover{
                color: $blue-providencia;
            }
        }
    }

    //SHARE
    .providencia-share{
        padding: 50px 0;
        .providencia-share_title{
            font-family: 'Roboto-Bold', Arial, Helvetica, sans-serif;
        }
        .providencia-share_link{
            margin: 10px 25px;
            width: 40px;
        }
    }

    // ODS
    .providencia-ods{
        padding: 50px 0;
        .providencia-ods_title{
            font-family: 'Roboto-Bold', Arial, Helvetica, sans-serif;
            color: #2BAAE2;
        }
        .providencia-ods_text{
            max-width: 780px;
        }
        .projects-objetivos{
            padding: 35px 10px 40px;
            max-width: 780px;
            .projects-objetivos_title{
                width: 90%;
                max-width: 400px;
                margin-bottom: 13px;
            }
            .projects-objetivos_elem{
                width: 12.8%;
                margin-top: 5px;
            }
        }
        .providencia-ods_btn{
            font-family: 'Roboto-Bold', Arial, Helvetica, sans-serif;
            padding: 10px 30px;
            border-radius: 30px;
            display: inline-block;
            margin: 30px 0;
            text-align: center;
            background-color: $blue-providencia;
            color: white;
            text-transform: uppercase;
            &:hover{
                color: $white;
            }
        }
    }

    //DONATIONS


    //PAYMENT
    .payment{
        .payment_line{
            width: 40%;
            border-color: #7A868C;
            border-width: 2px;
            margin-bottom: 70px;
        }
        .payment_title{
            font-family: 'Roboto-Bold', Arial, Helvetica, sans-serif;
        }
        .payment_paypal{
            width: 152px;
            margin-bottom: 5px;
        }
    }
}

//projects header backgrounds
.mexico-amaranto{
    .providencia-header{
        background-image: url('../images/providencia/proyecto-amaranto.jpg');
    }
}
.pozo-vida{
    .providencia-header{
        background-image: url('../images/providencia/proyecto-pozo2.jpg');
    }
}
.christel-house{
    .providencia-header{
        background-image: url('../images/providencia/proyecto-christel.jpg');
    }
}
.hospital-escandon{
    .providencia-header{
        background-image: url('../images/providencia/proyecto-hospital-2.jpg');
    }
}

//DONORS
.donors-list {
    margin-top: 80px;
    .list-group-item {
        border: none;
    }

    .list-group-elements {
        border-left: 4px solid #1E81B2;
        padding-left: 25px;

        h3, h4 {
            text-align: left;
        }

        h3 {
            color: #1E81B2;
            text-transform: uppercase;
            font-size: 24px;
            margin-bottom: 24px;
        }
        h4 {
            color: black;
            font-size: 20px;
            margin-bottom: 35px;
        }
    }
}

//modal multipagos
.modal-multipagos{
    color: $no-active;

    @media screen and (min-width: 756px) {
        font-size: 22px;
        width: 100% !important;
    }
    .modal-dialog{
        @media screen and (min-width: 756px) {
            max-width: 700px;
        }
    }
    .modal-body{
        padding: 25px 20px;
        @media screen and (min-width: 768px){
            padding: 50px 75px 60px;
        }
    }
    #cantidadTexto{
        position: absolute;
        z-index: 0;
        visibility: hidden;
        width: 0;
        height: 0;
    }
    label{
        cursor: pointer;
    }
    input[type='radio']{
        width: 0;
        visibility: hidden;
        position: absolute;
        z-index: 0;
    }
    .close{
        position: absolute;
        right: 11px;
        font-size: 42px;
        z-index: 2;
    }
    .modal-multipagos_logos{
        margin: 0 2px;
        width: 30px;
        border: 1px solid $no-active;
        @media screen and (min-width: 768px) {
            margin: 0 5px;
            width: 40px;
        }
    }
    .modal-multipagos_btn{
        color: $white;
        padding: 12px 0;

        border-radius: 12px;
        transition: background-color 0.2s ease-in-out;
        @media screen and (max-width: 767px) {
            padding: 8px 2px;
        }
        /* &.active{
            background-color: $blue-providencia;
        } */
        &--donativo{
            @media screen and (max-width: 767px) {
                font-size: 13px;
            }
        }
    }
    .modal-multipagos_prices-container{
        margin: 20px 0;
        @media screen and (min-width: 768px) {
            display: flex;
            justify-content: space-between;
        }
    }
    .modal-multipagos_price{
        width: 12%;
        font-size: 18px;
        padding: 10px 0;
        @media screen and (max-width: 767px) {
            font-size: 14px;
            width: 55px;
        }
    }

    .modal-multipagos_currency{
        padding: 5px;
        background-color: #7A868C;
    }
    .modal-multipagos_total{
        background-image: url('../images/money.png');
        background-position: 5px center;
        background-repeat: no-repeat;
        background-size: 14px auto;
        text-align: left;
        padding: 5px 5px 4px 19px;
        border: 1px solid $no-active;
        border-radius: 12px;
        color: $no-active;
    }
    .row-donar{
        margin-top: 20px;
    }
    .modal-multipagos_tarjetas{
        font-size: 50%;
        margin-bottom: 7px;
    }
    .modal-text-donativo {
        color: $blue-providencia;
        font-size: 75% !important;
        padding-top: 20px;
    }
}


.hide {
    display: none;
}

.img-proyectos {
    object-fit: cover;
    width: 100%;
    height: auto;
}

.color-unico {
    background-color: $blue-btn-donar-unico;
}
.color-mes {
    background-color: $blue-providencia;
}
