.que-hacemos{
    .que-hacemos_logo{
        width: 60%;
        max-width: initial;
    }
    .que-hacemos_description{
        max-width: 700px;
    }
    .que-hacemos_mision-text{
        max-width: 800px;
    }

    //PARTICIPATE
    &.participate{
        padding: 30px 5% 60px;
        .participate_title{
            font-family: 'Roboto-Bold', Arial, Helvetica, sans-serif;
            font-size: 33px;
            @media screen and (min-width: 768px) {
                font-size: 50px;
            }
        }
        .participate_img{
            display: block;
            margin: auto;
            width: 165px;
            max-width: 100%;
            margin-top: 30px;
        }
        .participate_btn{
            padding: 8px 14px;
            border: 2px solid $blue-providencia;
            border-radius: 24px;
            display: inline-block;
            font-size: 14px;
            font-weight: bold;
            &:hover{
                color: $blue-providencia;
                text-decoration: none;
            }
        }
    }

}