.providencia-soy{
    .providencia-soy_logos-container{
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
    }
    .providencia-soy_image{
        padding: 10px;
        @media screen and (min-width: 768px) {
            padding: 20px;
        }
    }
}