.providencia-subir{
    .providencia-subir_number{
        font-family: 'Roboto-Bold', 'Roboto-Medium', Arial, Helvetica, sans-serif;
        font-size: 30px;
        color: $text-gray;
        height: 45px;
        width: 45px;
        line-height: 40px;
        border: 3px solid $text-gray;
        border-radius: 50%;
    }
    .providencia-subir_icon{
        width: 60%;
        max-width: initial;
    }
    .providencia-subir_step-text{
        max-width: 250px;
        margin-top: 10px;
    }
    
    // form
    .form-group{
        font-size: .9em;
        display:inline-block;
        @media screen and (min-width: 768px) {
            width: 49%;
        }
    }
    .form-group label{
        text-align: left;
        width: 100%;
        @media screen and (min-width: 768px) {
            width: 50%;
        }   
    }
    .form-group.has-file label{
        width: 100%;
        @media screen and (min-width: 768px) {
            width: 28%;
        } 
    }
    .form-group select{
        width: 100%;
        @media screen and (min-width: 768px) {
            width: 36%;
        }
    }
    .form-group input{
        width: 100%;
        border: 1px solid #ccc;
        padding: 0 5px;
        @media screen and (min-width: 768px) {
            width: 36%;
        }
    }
    .form-group.has-file input{
        padding: 0;
        @media screen and (min-width: 768px) {
            width: 56%;
            margin-left: 2%;
        }
    }
}